openapi: 3.0.0
info:
  title: API کنار
  version: "1.0"
servers:
- url: https://open-api.divar.ir
security:
- APIKey: []
tags:
- name: Addons
- name: Assets
- name: ChatAPI
- name: Events
- name: Finder
- name: Post
- description: برخی از APIها محدود هستند. اگر نیاز به استفاده از آن‌ها دارید، تیکت
    ثبت کنید.
  name: Payment
- name: PaymentTicket
- name: Semantic
paths:
  /experimental/open-platform/balance:
    get:
      description: (محدود) با استفاده از این API می‌توانید موجودی فعلی اپلیکیشن خود
        را دریافت کنید.
      operationId: Payment_GetBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentGetBalanceResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت موجودی اپلیکیشن
      tags:
      - Payment
  /experimental/open-platform/business/{business_token}/customized-button:
    delete:
      description: |
        این API دکمه اختصاصی را از تمام آگهی‌های کسب‌وکار حذف می‌کند. این API به مجوز `BUSINESS_CUSTOMIZED_BUTTON_CREATE` نیاز دارد.
      operationId: Post_DeleteBusinessCustomizedButton
      parameters:
      - explode: false
        in: path
        name: business_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postDeleteBusinessCustomizedButtonResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف دکمه اختصاصی از آگهی‌های کسب‌و‌کار
      tags:
      - Post
    post:
      description: |
        این API برای ایجاد دکمه اختصاصی برای تمام آگهی‌های کسب‌وکار استفاده می‌شود.
        این API به مجوز `BUSINESS_CUSTOMIZED_BUTTON_CREATE` و دامنه OAuth `BUSINESS_CREATE_CUSTOMIZED_BUTTON.{business_ref}` نیاز دارد.
      operationId: Post_CreateBusinessCustomizedButton
      parameters:
      - explode: false
        in: path
        name: business_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCreateBusinessCustomizedButtonBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postCreateBusinessCustomizedButtonResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد دکمه اختصاصی برای آگهی‌های کسب‌و‌کار
      tags:
      - Post
  /experimental/open-platform/chat/bot/conversations/{conversation_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage5
      parameters:
      - description: شناسه منحصر به فرد برای مکالمه
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /experimental/open-platform/chat/bot/users/{user_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage4
      parameters:
      - description: شناسه منحصر به فرد کاربر برای شروع یا ادامه مکالمه
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /experimental/open-platform/chat/upload:
    post:
      description: این API برای تولید توکن آپلود برای آپلود فایل‌های رسانه‌ای استفاده
        می‌شود.
      operationId: ChatAPI_GenerateUploadToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chatapiGenerateUploadTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiGenerateUploadTokenResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: تولید توکن آپلود
      tags:
      - ChatAPI
  /experimental/open-platform/chatbot-conversations/{conversation_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage3
      parameters:
      - description: شناسه منحصر به فرد برای مکالمه
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /experimental/open-platform/events/send:
    post:
      description: با استفاده از این API، می‌توانید رویدادی به کاربر ارسال کنید. رویداد
        می‌تواند مربوط به یک آگهی خاص یا عمومی باشد. رویداد می‌تواند شامل دکمه‌هایی
        با عملیات سفارشی باشد که به کاربران اجازه می‌دهد با برنامه شما تعامل داشته
        باشند.
      operationId: Events_SendEvent
      parameters:
      - description: پیام رویداد برای نمایش به کاربر
        explode: true
        in: query
        name: message
        required: false
        schema:
          type: string
        style: form
      - description: هدف رویداد؛ USER یا POST
        explode: true
        in: query
        name: target_type
        required: false
        schema:
          enum:
          - USER
          - POST
          type: string
        style: form
      - description: شناسه هدف. وقتی نوع هدف USER است، باید شناسه کاربر دیوار آن کاربر
          باشد و وقتی نوع هدف POST است، باید توکن آگهی باشد.
        explode: true
        in: query
        name: target_resource_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsSendEventResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال رویداد به کاربر با استفاده از API
      tags:
      - Events
  /experimental/open-platform/post/{post_token}/publish:
    post:
      description: این API به ارائه‌دهندگان امکان پرداخت هزینه ثبت آگهی کاربر را می‌دهد.
        post_token باید از API SubmitUserPost در مجموعه آگهی‌ها دریافت شود.
      operationId: Payment_PublishUserPost
      parameters:
      - description: توکن آگهی دریافت شده از RPC SubmitUserPost. شناسه منحصر به فرد
          8-9 کاراکتری برای آگهی ثبت شده توسط کاربر.
        explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPublishUserPostBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentPublishUserPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: پرداخت هزینه ثبت آگهی کاربر از طرف ارائه‌دهنده
      tags:
      - Payment
  /experimental/open-platform/post/{post_token}/renew:
    post:
      description: (محدود) از این API برای تمدید آگهی استفاده کنید که دوره نمایش آن
        را تمدید می‌کند. قبل از فراخوانی این API، از API GetPostPricing برای دریافت
        هزینه سرویس استفاده کنید.
      operationId: Payment_RenewPost
      parameters:
      - explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRenewPostBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentRenewPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: تمدید آگهی
      tags:
      - Payment
  /experimental/open-platform/post/{post_token}/reorder:
    post:
      description: (محدود) قبل از فراخوانی این API، از API GetPostPricing برای دریافت
        هزینه سرویس استفاده کنید.
      operationId: Payment_ReorderPost
      parameters:
      - explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentReorderPostBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentReorderPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: نردبان آگهی
      tags:
      - Payment
  /experimental/open-platform/posts/new:
    post:
      description: |-
        این API به شما امکان ثبت آگهی را می‌دهد. این نیاز به دامنه OAuth `SUBMIT_POST` دارد.
        می‌توانید آگهی را با عنوان، توضیحات، تصاویر و سایر فیلدها ثبت کنید. فیلدهای عمومی و فیلدهای مخصوص دسته‌بندی وجود دارند.
      operationId: Post_SubmitPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubmitPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubmitPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ثبت آگهی
      tags:
      - Post
  /experimental/open-platform/posts/new-v2:
    post:
      description: |-
        این API به شما امکان ثبت آگهی با استفاده از اعتبارسنجی قالب JSON را می‌دهد. این به مجوز `SUBMIT_POST` نیاز دارد.
        شما داده‌های کامل آگهی را به عنوان یک رشته JSON ارائه می‌دهید که با احترام به قالب ثبت برای دسته‌بندی مشخص شده موجود در دارایی‌ها اعتبارسنجی خواهد شد.
      operationId: Post_SubmitPostV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubmitPostV2Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubmitPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ثبت آگهی با استفاده از اعتبارسنجی قالب JSON
      tags:
      - Post
  /experimental/open-platform/posts/{post_token}/customized-button:
    delete:
      description: |
        این API دکمه اختصاصی را از آگهی ثبت شده توسط سرویس شما حذف می‌کند. این API نیاز به مجوز `SET_CUSTOMIZED_BUTTON` دارد.
      operationId: Post_DeletePostCustomizedButton
      parameters:
      - explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postDeletePostCustomizedButtonResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف دکمه اختصاصی از آگهی
      tags:
      - Post
    post:
      description: |-
        این API برای تنظیم دکمه اختصاصی برای یک آگهی استفاده می‌شود. اگر دکمه‌ای وجود نداشته باشد، ایجاد خواهد شد. اگر از قبل وجود داشته باشد، داده‌های آن به‌روزرسانی خواهد شد. این API به مجوز `SET_CUSTOMIZED_BUTTON` نیاز دارد.
        اگر این آگهی توسط کاربر ثبت شده باشد، این API به توکن دسترسی کاربر در هدرهای درخواست با دامنه OAuth `USER_SET_CUSTOMIZED_BUTTON` نیاز دارد.
      operationId: Post_SetPostCustomizedButton
      parameters:
      - explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSetPostCustomizedButtonBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSetPostCustomizedButtonResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: تنظیم دکمه اختصاصی بر روی آگهی ثبت شده
      tags:
      - Post
  /experimental/open-platform/posts/{post_token}/stats:
    get:
      description: 'از این api برای مشاهده‌ی آمارهای یک آگهی (مانند تعداد بازدید‌های
        آگهی) استفاده کنید. '
      operationId: Post_GetPostStats
      parameters:
      - description: توکن آگهی
        explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postGetPostStatsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آمارهای آگهی
      tags:
      - Post
  /experimental/open-platform/semantic/post/{token}:
    post:
      description: |
        در برخی موارد، ذخیره اطلاعات مربوط به آگهی در دیوار بدون افزودن افزونه ضروری است.
        این API توکن دسترسی با دامنه `POST_SEMANTIC_CREATE` را انتظار دارد.
      operationId: Semantic_CreatePostSemantic
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SemanticCreatePostSemanticBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticCreatePostSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد اطلاعات معنایی آگهی
      tags:
      - Semantic
  /experimental/open-platform/transactions:
    get:
      description: (محدود) با استفاده از این api میتوانید لیست تراکنش‌های اپ را مشاهده
        کنید. برای مشاهده‌ی تمام تراکنش‌ها، صفحات را دنبال کنید.
      operationId: Payment_ListTransactions
      parameters:
      - description: تعداد تراکنش‌ها برای برگرداندن در هر صفحه
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: توکن برای صفحه بعدی نتایج
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentListTransactionsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: لیست تراکنش‌ها
      tags:
      - Payment
  /experimental/open-platform/transactions/{id}:
    get:
      description: (محدود) با استفاده از این API می‌توانید جزئیات تراکنش را دریافت
        کنید.
      operationId: Payment_GetTransaction
      parameters:
      - description: شناسه منحصر به فرد برای تراکنش، همان id در درخواست
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentGetTransactionResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت جزئیات تراکنش
      tags:
      - Payment
  /experimental/open-platform/user-posts/can-submit:
    get:
      description: با این API میتوانید بررسی کنید آیا کاربر می‌تواند آگهی ارسال کند
        یا خیر.این API انتظار دارد توکن کاربر در درخواست با اسکوپ `SUBMIT_USER_POST`
        موجود باشد.
      operationId: Post_CanUserSubmitPost
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postCanUserSubmitPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: بررسی اینکه آیا کاربر می‌تواند آگهی ارسال کند
      tags:
      - Post
  /experimental/open-platform/user-posts/new:
    post:
      description: |-
        این API به شما امکان ثبت آگهی از طرف یک کاربر احراز هویت شده با استفاده از اعتبارسنجی قالب JSON را می‌دهد. این به احراز هویت OAuth با توکن دسترسی معتبر و دامنه OAuth `SUBMIT_USER_POST` نیاز دارد.
        بر خلاف SubmitPostV2 که آگهی‌ها را به عنوان ارائه‌دهنده ثبت می‌کند، این نقطه پایانی آگهی‌ها را به عنوان کاربر مرتبط با توکن دسترسی ارائه شده ثبت می‌کند. آگهی متعلق به کاربر احراز هویت شده خواهد بود.
        شما داده‌های کامل آگهی را به عنوان یک رشته JSON ارائه می‌دهید که با احترام به قالب ثبت برای دسته‌بندی مشخص شده موجود در دارایی‌ها اعتبارسنجی خواهد شد.
      operationId: Post_SubmitUserPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubmitUserPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubmitPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ثبت آگهی به عنوان کاربر
      tags:
      - Post
  /experimental/open-platform/wallet/payments/commit:
    post:
      description: (محدود) با استفاده از این API می‌توانید یک پرداخت موفق را commit
        کنید. این API idempotent است و می‌توانید چندین بار آن را فراخوانی کنید.
      operationId: Payment_CommitWalletTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentCommitWalletTransactionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentCommitWalletTransactionResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: تایید تراکنش کیف پول
      tags:
      - Payment
  /experimental/open-platform/wallet/payments/create:
    post:
      description: (محدود) با استفاده از این API می‌توانید یک تراکنش پرداخت از کیف
        پول کاربران شروع کنید.
      operationId: Payment_CreateWalletPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentCreateWalletPaymentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentCreateWalletPaymentResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد پرداخت کیف پول
      tags:
      - Payment
  /experimental/open-platform/wallet/payments/{token}:
    get:
      description: (محدود) با استفاده از این API می‌توانید یک تراکنش و وضعیت آن را
        بازیابی کنید. از این API برای اعتبارسنجی پرداخت قبل از commit استفاده کنید.
      operationId: Payment_RetrieveWalletTransaction
      parameters:
      - description: توکن تراکنشی که می‌خواهید بازیابی کنید
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentRetrieveWalletTransactionResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: بازیابی تراکنش کیف پول
      tags:
      - Payment
  /v1/open-platform/add-ons/post/{token}:
    delete:
      description: فقط می‌توانید افزونه‌هایی را حذف کنید که توسط اپلیکیشن شما ایجاد
        شده‌اند.
      operationId: Addons_DeletePostAddon
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف افزونه از آگهی
      tags:
      - Addons
  /v1/open-platform/addons/business/{business_token}:
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه جدیدی به آگهی‌های کسب‌و‌کار متصل کنید.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه خود استفاده کنید.
        این API به توکن دسترسی با یکی از دامنه‌های زیر نیاز دارد:
        - BUSINESS_ADDON_CREATE.{business_token}
      operationId: Addons_CreateBusinessAddon
      parameters:
      - explode: false
        in: path
        name: business_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddonsCreateBusinessAddonBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreateBusinessAddonResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به آگهی‌های کسب‌و‌کار
      tags:
      - Addons
  /v1/open-platform/addons/post/{token}:
    delete:
      description: فقط می‌توانید افزونه‌هایی را حذف کنید که توسط اپلیکیشن شما ایجاد
        شده‌اند.
      operationId: Addons_DeletePostAddon2
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف افزونه از آگهی
      tags:
      - Addons
  /v1/open-platform/addons/user/{id}:
    delete:
      description: |-
        این تمام افزونه‌های مرتبط با تمام آگهی‌های کاربر را حذف می‌کند.
        فقط می‌توانید افزونه‌هایی را حذف کنید که توسط اپلیکیشن شما ایجاد شده‌اند.
      operationId: Addons_DeleteUserAddon
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف افزونه کاربر
      tags:
      - Addons
  /v1/open-platform/assets/body-status:
    get:
      description: دریافت تمام گزینه‌های وضعیت بدنه موجود در دسته‌بندی‌های خودرو دیوار.
        این ترجمه فارسی برای هر گزینه وضعیت بدنه که در آگهی‌ها استفاده می‌شود، ارائه
        می‌دهد.
      operationId: Assets_GetBodyStatuses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetBodyStatusesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت گزینه‌های وضعیت بدنه موجود در دسته‌بندی‌های خودرو دیوار
      tags:
      - Assets
  /v1/open-platform/assets/brand-model/{category}:
    get:
      description: دریافت تمام مدل‌های برند دیوار در دسته‌بندی مشخص شده. این ترجمه
        فارسی برای هر مدل برند که در آگهی‌ها استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetBrandModels
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetBrandModelsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مدل‌های برند در دسته‌بندی دیوار
      tags:
      - Assets
  /v1/open-platform/assets/category:
    get:
      description: دریافت تمام دسته‌بندی‌های دیوار. این ترجمه فارسی برای هر دسته‌بندی
        که در آگهی‌ها استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetCategoriesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت دسته‌بندی‌های دیوار
      tags:
      - Assets
  /v1/open-platform/assets/city:
    get:
      description: دریافت تمام شهرهای دیوار. این ترجمه فارسی برای هر شهر که در آگهی‌ها
        استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetCities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetCitiesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت شهرهای دیوار
      tags:
      - Assets
  /v1/open-platform/assets/color/{category}:
    get:
      description: دریافت تمام رنگ‌های دیوار در دسته‌بندی مشخص شده. این ترجمه فارسی
        برای هر رنگ که در آگهی‌ها استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetColors
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetColorsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت رنگ‌ها در دسته‌بندی دیوار
      tags:
      - Assets
  /v1/open-platform/assets/district:
    get:
      description: دریافت تمام مناطق دیوار. این ترجمه فارسی برای هر منطقه که در آگهی‌ها
        استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetDistricts
      parameters:
      - explode: true
        in: query
        name: city_slug
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetDistrictsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مناطق دیوار
      tags:
      - Assets
  /v1/open-platform/assets/district/{city_slug}:
    get:
      description: دریافت تمام مناطق دیوار. این ترجمه فارسی برای هر منطقه که در آگهی‌ها
        استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetDistricts2
      parameters:
      - explode: false
        in: path
        name: city_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetDistrictsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مناطق دیوار
      tags:
      - Assets
  /v1/open-platform/assets/internal-storage:
    get:
      description: دریافت تمام گزینه‌های حافظه داخلی موجود در دسته‌بندی‌های موبایل
        دیوار. این ترجمه فارسی برای هر گزینه حافظه داخلی که در آگهی‌ها استفاده می‌شود،
        ارائه می‌دهد.
      operationId: Assets_GetInternalStorages
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetInternalStoragesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت گزینه‌های حافظه داخلی موجود در دسته‌بندی‌های موبایل/تبلت/لپ‌تاپ
        دیوار
      tags:
      - Assets
  /v1/open-platform/assets/oauth-scope:
    get:
      description: |-
        اینها دامنه‌های موجود برای OAuth2.0 کنار دیوار هستند.
        از دامنه‌ها در جریان OAuth برای درخواست دسترسی به داده‌های کاربر یا انجام اقدامات از طرف آنها استفاده کنید.
      operationId: Assets_GetOAuthScopes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetOAuthScopesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت دامنه‌های OAuth کنار دیوار
      tags:
      - Assets
  /v1/open-platform/assets/permission:
    get:
      description: |-
        این مجوزها برای کنترل دسترسی در اپلیکیشن‌های کنار دیوار استفاده می‌شوند. آنها را با دامنه‌های OAuth اشتباه نگیرید.
        انتظار می‌رود اپلیکیشن‌ها نسبت به این مجوزها کور باشند. اینها فقط برای استفاده‌های داخلی ایجاد شده‌اند، اما در صورت نیاز آزادانه درخواست فعال‌سازی برای اپلیکیشن خود را ارائه دهید.
      operationId: Assets_GetPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetPermissionsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مجوزهای کنار دیوار
      tags:
      - Assets
  /v1/open-platform/assets/ram-memory:
    get:
      description: دریافت تمام گزینه‌های حافظه رم موجود در دسته‌بندی‌های موبایل/تبلت/لپ‌تاپ
        دیوار. این ترجمه فارسی برای هر گزینه حافظه رم که در آگهی‌ها استفاده می‌شود،
        ارائه می‌دهد.
      operationId: Assets_GetRamMemories
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetRamMemoriesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت گزینه‌های حافظه رم موجود در دسته‌بندی‌های موبایل/تبلت/لپ‌تاپ
        دیوار
      tags:
      - Assets
  /v1/open-platform/assets/service-type:
    get:
      description: |-
        این انواع سرویس برای گروه‌بندی سرویس‌های مشابه در کنار دیوار استفاده می‌شود.
        هر ایده جدید با انواع سرویس جدید خوشامد است. در صورت نیاز آزادانه درخواست دهید.
      operationId: Assets_GetServiceTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetServiceTypesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت انواع سرویس موجود در کنار دیوار
      tags:
      - Assets
  /v1/open-platform/assets/submit-schema/{category_slug}:
    get:
      description: |-
        این API به شما امکان دریافت قالب ثبت آگهی برای یک دسته‌بندی مشخص را می‌دهد. پاسخ در قالب JSON Schema است.

        قالب تعریف کننده ساختار و قوانین برای فیلدهای فرم زمانی که آگهی در یک دسته‌بندی مشخص ثبت می‌شود. هر فیلد در قالب می‌تواند یکی از انواع زیر را داشته باشد:

        **انواع اصلی:**
        - `string`: فیلدهای ورودی متنی (مانند عنوان، توضیحات، مقادیر زمانی)
        - `integer`: فیلدهای ورودی عددی برای اعداد صحیح (مانند قیمت، تعداد، اندازه)
        - `float`: فیلدهای ورودی عددی برای اعداد اعشاری
        - `boolean`: فیلدهای ورودی بولین (صحیح/غلط)
        - `array`: فیلدهای ورودی چندگانه که امکان انتخاب چند مقدار را دارند

        **فیلدهای Enum:**
        فیلدها با گزینه‌های پیش‌تعریف شده از `enum` و `enumNames` استفاده می‌کنند:
        - `enum`: آرایه از مقادیر داخلی استفاده شده برای ارتباط API
        - `enumNames`: آرایه از برچسب‌های نمایشی نشان داده شده به کاربر (معمولاً به زبان فارسی)
        - اینها برای فیلدهای ورودی چندگانه (مانند انتخاب طبقه، امکان استفاده از پارکینگ) استفاده می‌شوند

        **فیلدهای آرایه با Enum:**
        فیلدهای ورودی چندگانه ترکیب `type: "array"` با کلید Enum را دارند:
        - `items.enum`: گزینه‌های موجود برای انتخاب
        - `items.enumNames`: برچسب‌های نمایشی برای هر گزینه
        - کاربران می‌توانند چند مقدار را انتخاب کنند (مانند امکانات رفاهی، سیستم‌های گرمایش)

        **ویژگی‌های فیلد:**
        - `title`: نام نمایشی فارسی برای فیلد
        - `required`: آرایه از نام فیلدهای اجباری که باید ارائه شوند
        - `type`: نوع داده فیلد

        **مثال استفاده:**
        ```json
        {
          "properties": {
            "size": {
              "title": "متراژ (متر مربع)",
              "type": "integer"
            },
            "elevator": {
              "enum": ["دارد", "ندارد"],
              "enumNames": ["دارد", "ندارد"],
              "title": "آسانسور",
              "type": "string"
            },
            "comfort_amenities": {
              "items": {
                "enum": ["اینترنت_پرسرعت", "تلویزیون"],
                "enumNames": ["اینترنت پرسرعت", "تلویزیون"],
                "type": "string"
              },
              "title": "امکانات رفاهی",
              "type": "array"
            }
          }
        }
        ```
      operationId: Assets_GetSubmitSchema
      parameters:
      - explode: false
        in: path
        name: category_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetSubmitSchemaResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت قالب ثبت
      tags:
      - Assets
  /v1/open-platform/chat/bot/conversations/{conversation_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage
      parameters:
      - description: شناسه منحصر به فرد برای مکالمه
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /v1/open-platform/chat/bot/users/{user_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage2
      parameters:
      - description: شناسه منحصر به فرد کاربر برای شروع یا ادامه مکالمه
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /v1/open-platform/chat/conversations/{conversation_id}:
    get:
      description: این API برای دریافت مکالمه و پیام‌های یک مکالمه با شناسه آن استفاده
        می‌شود. این API توکن دسترسی با دامنه `CHAT_CONVERSATION_READ` را انتظار دارد.
      operationId: ChatAPI_GetConversation
      parameters:
      - description: شناسه منحصر به فرد برای مکالمه
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiGetConversationResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مکالمه با شناسه آن
      tags:
      - ChatAPI
  /v1/open-platform/events/subscriptions:
    post:
      description: |-
        این درخواست به شما امکان اشتراک در رویداد را می‌دهد.
        باید access-token را در این API ارسال کنید تا دسترسی شما بررسی شود.
        برای اشتراک در `NEW_MESSAGE_ON_POST` به یکی از این دامنه‌ها نیاز دارید:
        - CHAT_POST_CONVERSATIONS_READ.{post_token}
        - CHAT_SUPPLIER_ALL_CONVERSATIONS_READ
        برای اشتراک در `POST_UPDATE` به دامنه `USER_POSTS_GET` نیاز دارید.
        پس از فراخوانی این API، هنگام وقوع رویداد مربوطه در webhook خود مطلع خواهید شد.
        مطمئن شوید URL webhook در پنل ارائه‌دهندگان برای اپلیکیشن شما تنظیم شده است.
        برخی رویدادها به طور پیش‌فرض فعال هستند و نیازی به اشتراک ندارند (مثل پیام‌های chatbot).
      operationId: Events_RegisterEventSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventsRegisterEventSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsRegisterEventSubscriptionResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: اشتراک در رویداد
      tags:
      - Events
  /v1/open-platform/finder/post/{token}:
    get:
      description: |-
        این API به شما امکان دریافت جزئیات آگهی دیوار با استفاده از توکن آن را می‌دهد.
        می‌توانید از توکن برای دریافت داده‌های آگهی و وضعیت آن استفاده کنید
      operationId: Finder_GetPost
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderGetPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آگهی دیوار
      tags:
      - Finder
  /v1/open-platform/finder/user-posts:
    get:
      description: |-
        این API به شما امکان دریافت تمام آگهی‌های یک کاربر را می‌دهد.
        می‌توانید از این API برای نمایش آگهی‌های کاربر در سرویس خود استفاده کنید.
      operationId: Finder_GetUserPosts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderGetUserPostsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آگهی‌های کاربر
      tags:
      - Finder
  /v1/open-platform/get-user-id-by-phone:
    post:
      description: با استفاده از این API می‌توانید شناسه‌ی دیوار یک کاربر را با استفاده
        از شماره تلفن دریافت کنید. این اجازه مختص برنامه‌هایی است که دسترسی به شماره
        تماس کاربر ندارند و برای ارائه‌ی خدمات پشتیبانی به کاربران، نیاز به تبدیل
        شماره به شناسه‌ی دیوار دارند.
      operationId: Finder_GetUserIDByPhone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finderGetUserIDByPhoneRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderGetUserIDByPhoneResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت شناسه دیوار کاربر با شماره تلفن
      tags:
      - Finder
  /v1/open-platform/payment-ticket/validate:
    post:
      description: |-
        بلیط‌های پرداخت برای یکپارچه‌سازی اپلیکیشن‌های کنار با تیم‌های داخلی دیوار طراحی شده‌اند.
        با استفاده از این API می‌توانید بلیط پرداخت را اعتبارسنجی کرده و payload صادرکننده را دریافت کنید.
      operationId: PaymentTicket_Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_ticketValidateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_ticketValidateResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: اعتبارسنجی بلیط پرداخت
      tags:
      - PaymentTicket
  /v1/open-platform/post/image-upload-url:
    get:
      description: |-
        این API به شما اجازه می‌دهد یک آدرس اینترنتی برای بارگذاری تصاویر یک پست دریافت کنید.
        می‌توانید تصاویر را با یک درخواست POST و رمزگذاری باینری به آدرس برگشتی بارگذاری کنید.
        به جای آن از https://kenar.divar.dev/openapi-doc/post-get-upload-urls-v2/ استفاده کنید
      operationId: Post_GetImageUploadURL
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postGetImageUploadURLResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آدرس اپلود تصاویر آگهی (منسوخ شده)
      tags:
      - Post
  /v1/open-platform/post/{post_token}:
    delete:
      description: این API به شما امکان حذف آگهی را می‌دهد. این نیاز به اسکوپ OAuth
        `DELETE_USER_POST` دارد.
      operationId: Post_DeleteUserPost
      parameters:
      - description: توکن آگهی برای حذف
        explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postDeleteUserPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف آگهی
      tags:
      - Post
    put:
      description: |-
        این API به شما امکان ویرایش آگهی را می‌دهد. این نیاز به دامنه OAuth `POST_EDIT.{post_token}` دارد.
        در حال حاضر فقط می‌توانید عنوان، توضیحات و تصاویر آگهی را ویرایش کنید.
      operationId: Post_EditPost
      parameters:
      - explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEditPostBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postEditPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ویرایش آگهی
      tags:
      - Post
  /v1/open-platform/post/{post_token}/pricing:
    get:
      description: با استفاده از این API و با مجوز کاربر، می‌توانید قیمت سرویس‌های
        مختلف مانند نردبان، تمدید و ثبت را دریافت کنید. قیمت این API لزوماً با قیمت
        در دیوار یکسان نیست و ممکن است متفاوت باشد. از این API برای دریافت قیمت قبل
        از اعمال سرویس‌ها (مانند نردبان آگهی، تمدید آگهی یا ثبت آگهی) استفاده کنید.
      operationId: Payment_GetPostPricing
      parameters:
      - description: شناسه منحصر به فرد 8-9 کاراکتری برای آگهی
        explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentGetPostPricingResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت هزینه سرویس
      tags:
      - Payment
  /v1/open-platform/semantic/user/{phone}:
    delete:
      description: می‌توانید اطلاعات معنایی یک کاربر را با فراخوانی این API حذف کنید.
      operationId: Semantic_DeleteUserSemantic
      parameters:
      - explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: divar_user_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticDeleteUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف اطلاعات معنایی کاربر
      tags:
      - Semantic
    post:
      description: |-
        در برخی موارد، ذخیره اطلاعات مربوط به کاربر در دیوار بدون افزودن افزونه ضروری است.
        نام کاربری در دیوار همان شماره موبایل است.
        این API توکن دسترسی با دامنه `USER_VERIFICATION_CREATE` را انتظار دارد.
        از APIهای اطلاعات معنایی کاربر برای این منظور استفاده کنید. این سرویس امکان ارسال اطلاعات معنایی و بلیط پرداخت اختیاری را فراهم می‌کند.
      operationId: Semantic_CreateUserSemantic
      parameters:
      - explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SemanticCreateUserSemanticBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticCreateUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد اطلاعات معنایی کاربر
      tags:
      - Semantic
  /v1/open-platform/semantic/users/{divar_user_id}:
    delete:
      description: می‌توانید اطلاعات معنایی یک کاربر را با فراخوانی این API حذف کنید.
      operationId: Semantic_DeleteUserSemantic2
      parameters:
      - explode: false
        in: path
        name: divar_user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: phone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticDeleteUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف اطلاعات معنایی کاربر
      tags:
      - Semantic
    post:
      description: |-
        در برخی موارد، ذخیره اطلاعات مربوط به کاربر در دیوار بدون افزودن افزونه ضروری است.
        نام کاربری در دیوار همان شماره موبایل است.
        این API توکن دسترسی با دامنه `USER_VERIFICATION_CREATE` را انتظار دارد.
        از APIهای اطلاعات معنایی کاربر برای این منظور استفاده کنید. این سرویس امکان ارسال اطلاعات معنایی و بلیط پرداخت اختیاری را فراهم می‌کند.
      operationId: Semantic_CreateUserSemantic2
      parameters:
      - explode: false
        in: path
        name: divar_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SemanticCreateUserSemanticBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticCreateUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد اطلاعات معنایی کاربر
      tags:
      - Semantic
  /v1/open-platform/user-payments:
    post:
      description: با استفاده از این API، باید پرداخت کاربر را ثبت کنید. ضروری است
        که از این API برای ثبت پرداخت کاربر همراه با مبلغ دریافت شده استفاده کنید.
        این API به توکن دسترسی با دامنه OAuth `SUBMIT_USER_PAYMENT` نیاز دارد.
      operationId: Payment_SubmitUserPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentSubmitUserPaymentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentSubmitUserPaymentResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ثبت پرداخت کاربر
      tags:
      - Payment
  /v1/open-platform/user-post/{token}:
    get:
      description: |-
        این API به شما امکان دریافت اطلاعات دقیق درباره یک آگهی خاص با استفاده از توکن آن را می‌دهد.
        این نقطه پایانی آگهی‌های ثبت شده توسط کاربران احراز هویت شده از طریق پلتفرم باز را برمی‌گرداند، شامل داده‌های کسب‌وکار، وضعیت و دلایل رد.
        این API به مجوز `GET_USER_POST` نیاز دارد.
        این API به دامنه OAuth `USER_POSTS_GET` نیاز دارد.
      operationId: Post_GetUserPost
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postGetUserPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آگهی با توکن
      tags:
      - Post
  /v1/open-platform/users:
    get:
      description: |
        پس از دریافت توکن دسترسی، می‌توانید از این API برای دریافت اطلاعات کاربر استفاده کنید.
        با scope `USER_PHONE` می‌توانید شماره تلفن کاربر را دریافت کنید.
        با scope `USER_ID` می‌توانید شناسه کاربر را دریافت کرده و می‌توانید روی منحصر به فرد بودن این شناسه تکیه کنید.
      operationId: Finder_GetUser2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderUser'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت اطلاعات کاربر
      tags:
      - Finder
    post:
      description: |
        پس از دریافت توکن دسترسی، می‌توانید از این API برای دریافت اطلاعات کاربر استفاده کنید.
        با scope `USER_PHONE` می‌توانید شماره تلفن کاربر را دریافت کنید.
        با scope `USER_ID` می‌توانید شناسه کاربر را دریافت کرده و می‌توانید روی منحصر به فرد بودن این شناسه تکیه کنید.
      operationId: Finder_GetUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finderGetUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderUser'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت اطلاعات کاربر
      tags:
      - Finder
  /v2/open-platform/addons/post/{token}:
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه جدیدی به آگهی متصل کنید.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه خود استفاده کنید.
        این API به توکن دسترسی با یکی از دامنه‌های زیر نیاز دارد:
        - USER_POSTS_ADDON_CREATE
        - POST_ADDON_CREATE.{post_token}
      operationId: Addons_CreatePostAddonV2
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddonsCreatePostAddonV2Body'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreatePostAddonResponseV2'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به آگهی
      tags:
      - Addons
  /v2/open-platform/addons/user/{phone}:
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه کاربر ایجاد کنید.
        افزونه کاربر به تمام آگهی‌های آینده کاربر متصل می‌شود و همچنین 30 آگهی آخر گذشته را پر می‌کند.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه کاربر خود استفاده کنید.
        این API به توکن دسترسی با دامنه `USER_ADDON_CREATE` نیاز دارد
      operationId: Addons_CreateUserAddonV2
      parameters:
      - explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AddonsCreateUserAddonV2Body'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreateUserAddonResponseV2'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به کاربر
      tags:
      - Addons
  /v2/open-platform/addons/users/{divar_user_id}:
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه کاربر ایجاد کنید.
        افزونه کاربر به تمام آگهی‌های آینده کاربر متصل می‌شود و همچنین 30 آگهی آخر گذشته را پر می‌کند.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه کاربر خود استفاده کنید.
        این API به توکن دسترسی با دامنه `USER_ADDON_CREATE` نیاز دارد
      operationId: Addons_CreateUserAddonV22
      parameters:
      - explode: false
        in: path
        name: divar_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AddonsCreateUserAddonV2Body'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreateUserAddonResponseV2'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به کاربر
      tags:
      - Addons
  /v2/open-platform/conversations/{conversation_id}/messages:
    post:
      description: |
        این API برای ارسال پیام به مکالمه استفاده می‌شود.
        برای فراخوانی این API به یکی از دامنه‌های زیر نیاز دارید:
        - CONVERSATION_SEND_MESSAGE.{conversation_id}
        - CHAT_SUPPLIER_ALL_CONVERSATIONS_MESSAGE_SEND
        - CHAT_POST_CONVERSATIONS_MESSAGE_SEND.{post_token}
      operationId: ChatAPI_ConversationSendMessage
      parameters:
      - description: شناسه منحصر به فرد برای مکالمه
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatAPIConversationSendMessageBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiConversationSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه
      tags:
      - ChatAPI
  /v2/open-platform/finder/post:
    post:
      description: |
        این API به شما امکان جستجو آگهی‌های دیوار با برخی فیلترها را می‌دهد.
        می‌توانید آگهی‌ها را بر اساس دسته‌بندی، شهر، منطقه و برخی فیلترهای دیگر جستجو کنید.
        آگهی‌ها بر اساس زمان آنها مرتب می‌شوند.
      operationId: Finder_SearchPostV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finderSearchPostsV2Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderSearchPostV2Response'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: جستجو آگهی‌های دیوار با فیلترهایی
      tags:
      - Finder
  /v2/open-platform/post/upload-urls:
    get:
      description: |-
        این API به شما امکان دریافت URL آپلود برای آپلود تصاویر و ویدیوهای آگهی را می‌دهد.
        می‌توانید تصاویر/ویدیوها را با استفاده از درخواست POST یا PUT با کدگذاری باینری به URL برگشتی آپلود کنید. آدرس برگشتی این API به api-key شما برای آپلود نیاز دارد. لطفاً توجه داشته باشید که آدرس برگشتی ممکن است بدون اطلاع قبلی تغییر کند.
      operationId: Post_GetUploadURLsV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postGetUploadURLsV2Response'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آدرس آپلود برای تصاویر و ویدیو‌ی آگهی‌ها
      tags:
      - Post
  /v2/open-platform/post/{post_token}:
    put:
      description: |-
        این API به شما امکان ویرایش آگهی با استفاده از احراز هویت OAuth را می‌دهد.
        توکن دسترسی از یک کاربر با اسکوپ OAuth `POST_EDIT.{post_token}` یا `EDIT_USER_POST` مورد نیاز است.

        می‌توانید عنوان، توضیحات، تصاویر، موقعیت، فیلدهای مخصوص دسته‌بندی و سایر ویژگی‌های آگهی را ویرایش کنید. فیلدهای مخصوص دسته‌بندی باید از قالب دسته‌بندی آگهی پیروی کنند. قالب را از اینجا دریافت کنید: https://kenar.divar.dev/openapi-doc/assets-get-submit-schema/

        از فیلد update_mask برای مشخص کردن فیلدهایی که می‌خواهید به‌روزرسانی کنید استفاده کنید.
      operationId: Post_EditPostV2
      parameters:
      - description: توکن آگهی
        explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEditPostV2Body'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postEditPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ویرایش آگهی با پشتیبانی از فیلد ماسک
      tags:
      - Post
components:
  requestBodies:
    AddonsCreateUserAddonV2Body:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddonsCreateUserAddonV2Body'
      required: true
    ChatAPIChatBotSendMessageBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ChatAPIChatBotSendMessageBody'
      required: true
    SemanticCreateUserSemanticBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SemanticCreateUserSemanticBody'
      required: true
  schemas:
    AddonSemanticCarVerificationStage:
      enum:
      - CARVERIFICATIONSTAGE_NOT_STARTED
      - CARVERIFICATIONSTAGE_SHAHKAR
      - CAR_CARD_VERIFICATION
      - CAR_MODEL_VERIFICATION
      type: string
    AddonSemanticIdentityVerificationResult:
      enum:
      - FACE_AND_ID_MATCHED
      title: "- FACE_AND_ID_MATCHED: ID به معنای کارت ملی است، این مقدار منجر به ن\
        شان در تطبیق می‌شود"
      type: string
    AddonSemanticIdentityVerificationStage:
      enum:
      - IDENTITYVERIFICATIONSTAGE_NOT_STARTED
      - NATIONAL_INFO_VERIFICATION
      - IMAGE_VERIFICATION
      - VIDEO_VERIFICATION
      type: string
    AddonSemanticInspectionResult:
      enum:
      - INSPECTION_APPROVED
      type: string
    AddonSemanticNewFaceVerificationResult:
      enum:
      - NEW_FACE_VERIFICATION_FAILED
      type: string
    AddonSemanticOnlineReservationCapability:
      enum:
      - ONLINE_RESERVATION_AVAILABLE
      type: string
    AddonSemanticOwnershipResult:
      enum:
      - OWNERSHIP_CONFIRMED
      - OWNERSHIP_DELEGATION_CONFIRMED
      type: string
    AddonSemanticPostVerificationResult:
      enum:
      - POST_INFORMATION_MATCHED
      type: string
    AddonsCreateBusinessAddonBody:
      example:
        widgets:
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
      properties:
        widgets:
          items:
            $ref: '#/components/schemas/addonsWidget'
          type: array
      type: object
    AddonsCreatePostAddonV2Body:
      example:
        semantic:
          key: semantic
        notes: notes
        widgets:
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
      properties:
        notes:
          type: string
        semantic:
          additionalProperties:
            type: string
          type: object
        widgets:
          items:
            $ref: '#/components/schemas/addonsWidget'
          type: array
      type: object
    AddonsCreateUserAddonV2Body:
      example:
        ticket_uuid: ticket_uuid
        semantic:
          key: semantic
        cost: 0
        phone: phone
        categories:
        - categories
        - categories
        widgets:
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
      properties:
        categories:
          items:
            type: string
          type: array
        cost:
          format: int32
          type: integer
        phone:
          type: string
        semantic:
          additionalProperties:
            type: string
          type: object
        ticket_uuid:
          type: string
        widgets:
          items:
            $ref: '#/components/schemas/addonsWidget'
          type: array
      type: object
    ChatAPIChatBotSendMessageBody:
      example:
        buttons:
          rows:
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
        user_id: user_789012
        text_message: Thank you for your inquiry. How can I help you?
        media_token: media_token_12345
      properties:
        buttons:
          $ref: '#/components/schemas/chatapiChatButtonGrid'
        media_token:
          description: توکن برای مدیای ضمیمه شده (در صورت وجود)
          example: media_token_12345
          type: string
        text_message:
          description: محتوای پیام متنی برای ارسال توسط ربات
          example: Thank you for your inquiry. How can I help you?
          type: string
        user_id:
          description: شناسه منحصر به فرد کاربر برای شروع یا ادامه مکالمه
          example: user_789012
          type: string
      required:
      - text_message
      type: object
    ChatAPIConversationSendMessageBody:
      example:
        sender_buttons:
          rows:
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
        receiver_buttons:
          rows:
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
[...]
