openapi: 3.0.0
info:
  title: Kenar API
  version: "1.0"
servers:
- url: https://open-api.divar.ir
security:
- APIKey: []
tags:
- name: Addons
- name: Assets
- name: ChatAPI
- name: Darvaze
- name: Events
- name: Finder
- name: Post
- description: "Limited APIs, Create tickets if you need to use them."
  name: limited
- name: PaymentTicket
- name: Semantic
paths:
  /experimental/open-platform/balance:
    get:
      description: با استفاده از این API می‌توانید موجودی فعلی اپلیکیشن خود را دریافت
        کنید.
      operationId: Payment_GetBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentGetBalanceResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      tags:
      - limited
  /experimental/open-platform/chat/bot/conversations/{conversation_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage5
      parameters:
      - description: Unique identifier for the conversation
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /experimental/open-platform/chat/bot/users/{user_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage4
      parameters:
      - description: Unique identifier for the user to start or continue a conversation
          with
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /experimental/open-platform/chat/upload:
    post:
      description: این API برای تولید توکن آپلود برای آپلود فایل‌های رسانه‌ای استفاده
        می‌شود.
      operationId: ChatAPI_GenerateUploadToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chatapiGenerateUploadTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiGenerateUploadTokenResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: تولید توکن آپلود
      tags:
      - ChatAPI
  /experimental/open-platform/chatbot-conversations/{conversation_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage3
      parameters:
      - description: Unique identifier for the conversation
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /experimental/open-platform/events/send:
    post:
      description: "Using this API, you can send an event to a user. The event can\
        \ be specific to a post or general. The event can include buttons with custom\
        \ actions allowing users to interact with your app."
      operationId: Events_SendEvent
      parameters:
      - description: The event message to display to the user
        explode: true
        in: query
        name: message
        required: false
        schema:
          type: string
        style: form
      - description: The text to display on the button
        explode: true
        in: query
        name: primary_button.title
        required: false
        schema:
          type: string
        style: form
      - description: An action to send user to your URL directly with just a resource
          id (if applicable)
        explode: true
        in: query
        name: primary_button.action.open_direct_link
        required: false
        schema:
          type: string
        style: form
      - description: A data that you can set and will be returned to you upon user
          click to recognize the action
        explode: true
        in: query
        name: primary_button.action.open_server_link.data
        required: false
        schema:
          type: object
        style: form
      - description: A data that you can set and will be returned to you upon user
          click to recognize the action
        explode: true
        in: query
        name: primary_button.action.get_dynamic_action.data
        required: false
        schema:
          type: object
        style: form
      - description: Token of the post to open
        explode: true
        in: query
        name: primary_button.action.open_post_page.post_token
        required: true
        schema:
          type: string
        style: form
      - description: Token of the post to redirect to its management page
        explode: true
        in: query
        name: primary_button.action.open_post_manage_page.post_token
        required: true
        schema:
          type: string
        style: form
      - description: The text to display on the button
        explode: true
        in: query
        name: secondary_button.title
        required: false
        schema:
          type: string
        style: form
      - description: An action to send user to your URL directly with just a resource
          id (if applicable)
        explode: true
        in: query
        name: secondary_button.action.open_direct_link
        required: false
        schema:
          type: string
        style: form
      - description: A data that you can set and will be returned to you upon user
          click to recognize the action
        explode: true
        in: query
        name: secondary_button.action.open_server_link.data
        required: false
        schema:
          type: object
        style: form
      - description: A data that you can set and will be returned to you upon user
          click to recognize the action
        explode: true
        in: query
        name: secondary_button.action.get_dynamic_action.data
        required: false
        schema:
          type: object
        style: form
      - description: Token of the post to open
        explode: true
        in: query
        name: secondary_button.action.open_post_page.post_token
        required: true
        schema:
          type: string
        style: form
      - description: Token of the post to redirect to its management page
        explode: true
        in: query
        name: secondary_button.action.open_post_manage_page.post_token
        required: true
        schema:
          type: string
        style: form
      - description: Target of the event; USER or POST
        explode: true
        in: query
        name: target_type
        required: false
        schema:
          enum:
          - USER
          - POST
          type: string
        style: form
      - description: "id of the target. When target type is USER, it should be the\
          \ Divar User ID of that user and when target type is POST, it should be\
          \ the post token. "
        explode: true
        in: query
        name: target_resource_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsSendEventResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: Send an event to a user
      tags:
      - Events
  /experimental/open-platform/post/{post_token}/reorder:
    post:
      description: قبل از فراخوانی این API، از API GetPostPricing برای دریافت هزینه
        سرویس استفاده کنید.
      operationId: Payment_ReorderPost
      parameters:
      - explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentReorderPostBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentReorderPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      tags:
      - limited
  /experimental/open-platform/posts/emergency-residence:
    post:
      operationId: Post_SubmitEmergencyResidencePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubmitEmergencyResidencePostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubmitEmergencyResidencePostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: Submit an emergency residence post
      tags:
      - Post
  /experimental/open-platform/posts/new:
    post:
      description: |-
        This API allows you to submit a post. This needs `POST_SUBMIT` OAuth scope.
        You can submit a post with title, description, and images and other fields. There are general fields and category specific fields.
      operationId: Post_SubmitPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSubmitPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSubmitPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: Submit a post
      tags:
      - Post
  /experimental/open-platform/posts/{post_token}/stats:
    get:
      description: 'از این api برای مشاهده‌ی آمارهای یک آگهی (مانند تعداد بازدید‌های
        آگهی) استفاده کنید. '
      operationId: Post_GetPostStats
      parameters:
      - description: توکن آگهی
        explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postGetPostStatsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آمارهای آگهی
      tags:
      - Post
  /experimental/open-platform/semantic/post/{token}:
    post:
      description: |
        در برخی موارد، ذخیره اطلاعات مربوط به آگهی در دیوار بدون افزودن افزونه ضروری است.
        این API توکن دسترسی با دامنه `POST_SEMANTIC_CREATE` را انتظار دارد.
      operationId: Semantic_CreatePostSemantic
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SemanticCreatePostSemanticBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticCreatePostSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد اطلاعات معنایی آگهی
      tags:
      - Semantic
  /experimental/open-platform/transactions:
    get:
      description: با استفاده از این api میتوانید لیست تراکنش‌های اپ را مشاهده کنید.
        برای مشاهده‌ی تمام تراکنش‌ها، صفحات را دنبال کنید.
      operationId: Payment_ListTransactions
      parameters:
      - description: Number of transactions to return per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Token for the next page of results
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentListTransactionsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      tags:
      - limited
  /experimental/open-platform/transactions/{id}:
    get:
      description: با استفاده از این API می‌توانید جزئیات تراکنش را دریافت کنید.
      operationId: Payment_GetTransaction
      parameters:
      - description: شناسه منحصر به فرد برای تراکنش، همان id در درخواست
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentGetTransactionResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      tags:
      - limited
  /v1/open-platform/add-ons/post/{token}:
    delete:
      description: فقط می‌توانید افزونه‌هایی را حذف کنید که توسط اپلیکیشن شما ایجاد
        شده‌اند.
      operationId: Addons_DeletePostAddon
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف افزونه از آگهی
      tags:
      - Addons
  /v1/open-platform/addons/business/{business_token}:
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه جدیدی به آگهی‌های کسب‌و‌کار متصل کنید.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه خود استفاده کنید.
        این API به توکن دسترسی با یکی از دامنه‌های زیر نیاز دارد:
        - BUSINESS_ADDON_CREATE.{business_token}
      operationId: Addons_CreateBusinessAddon
      parameters:
      - explode: false
        in: path
        name: business_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddonsCreateBusinessAddonBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreateBusinessAddonResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به آگهی‌های کسب‌و‌کار
      tags:
      - Addons
  /v1/open-platform/addons/post/{token}:
    delete:
      description: فقط می‌توانید افزونه‌هایی را حذف کنید که توسط اپلیکیشن شما ایجاد
        شده‌اند.
      operationId: Addons_DeletePostAddon2
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف افزونه از آگهی
      tags:
      - Addons
  /v1/open-platform/addons/user/{id}:
    delete:
      description: |-
        این تمام افزونه‌های مرتبط با تمام آگهی‌های کاربر را حذف می‌کند.
        فقط می‌توانید افزونه‌هایی را حذف کنید که توسط اپلیکیشن شما ایجاد شده‌اند.
      operationId: Addons_DeleteUserAddon
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف افزونه کاربر
      tags:
      - Addons
  /v1/open-platform/addons/user/{phone}:
    get:
      description: دریافت تمام افزونه‌های کاربر یک کاربر.
      operationId: Addons_GetUserAddons
      parameters:
      - explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: divar_user_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsGetUserAddonsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت تمام افزونه‌های کاربر
      tags:
      - Addons
  /v1/open-platform/assets/body-status:
    get:
      description: دریافت تمام گزینه‌های وضعیت بدنه موجود در دسته‌بندی‌های خودرو دیوار.
        این ترجمه فارسی برای هر گزینه وضعیت بدنه که در آگهی‌ها استفاده می‌شود، ارائه
        می‌دهد.
      operationId: Assets_GetBodyStatuses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetBodyStatusesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت گزینه‌های وضعیت بدنه موجود در دسته‌بندی‌های خودرو دیوار
      tags:
      - Assets
  /v1/open-platform/assets/brand-model/{category}:
    get:
      description: دریافت تمام مدل‌های برند دیوار در دسته‌بندی مشخص شده. این ترجمه
        فارسی برای هر مدل برند که در آگهی‌ها استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetBrandModels
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetBrandModelsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مدل‌های برند در دسته‌بندی دیوار
      tags:
      - Assets
  /v1/open-platform/assets/category:
    get:
      description: دریافت تمام دسته‌بندی‌های دیوار. این ترجمه فارسی برای هر دسته‌بندی
        که در آگهی‌ها استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetCategoriesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت دسته‌بندی‌های دیوار
      tags:
      - Assets
  /v1/open-platform/assets/city:
    get:
      description: دریافت تمام شهرهای دیوار. این ترجمه فارسی برای هر شهر که در آگهی‌ها
        استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetCities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetCitiesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت شهرهای دیوار
      tags:
      - Assets
  /v1/open-platform/assets/color/{category}:
    get:
      description: دریافت تمام رنگ‌های دیوار در دسته‌بندی مشخص شده. این ترجمه فارسی
        برای هر رنگ که در آگهی‌ها استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetColors
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetColorsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت رنگ‌ها در دسته‌بندی دیوار
      tags:
      - Assets
  /v1/open-platform/assets/district:
    get:
      description: دریافت تمام مناطق دیوار. این ترجمه فارسی برای هر منطقه که در آگهی‌ها
        استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetDistricts
      parameters:
      - explode: true
        in: query
        name: city_slug
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetDistrictsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مناطق دیوار
      tags:
      - Assets
  /v1/open-platform/assets/district/{city_slug}:
    get:
      description: دریافت تمام مناطق دیوار. این ترجمه فارسی برای هر منطقه که در آگهی‌ها
        استفاده می‌شود، ارائه می‌دهد.
      operationId: Assets_GetDistricts2
      parameters:
      - explode: false
        in: path
        name: city_slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetDistrictsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مناطق دیوار
      tags:
      - Assets
  /v1/open-platform/assets/internal-storage:
    get:
      description: دریافت تمام گزینه‌های حافظه داخلی موجود در دسته‌بندی‌های موبایل
        دیوار. این ترجمه فارسی برای هر گزینه حافظه داخلی که در آگهی‌ها استفاده می‌شود،
        ارائه می‌دهد.
      operationId: Assets_GetInternalStorages
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetInternalStoragesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت گزینه‌های حافظه داخلی موجود در دسته‌بندی‌های موبایل/تبلت/لپ‌تاپ
        دیوار
      tags:
      - Assets
  /v1/open-platform/assets/oauth-scope:
    get:
      description: |-
        اینها دامنه‌های موجود برای OAuth2.0 کنار دیوار هستند.
        از دامنه‌ها در جریان OAuth برای درخواست دسترسی به داده‌های کاربر یا انجام اقدامات از طرف آنها استفاده کنید.
      operationId: Assets_GetOAuthScopes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetOAuthScopesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت دامنه‌های OAuth کنار دیوار
      tags:
      - Assets
  /v1/open-platform/assets/permission:
    get:
      description: |-
        این مجوزها برای کنترل دسترسی در اپلیکیشن‌های کنار دیوار استفاده می‌شوند. آنها را با دامنه‌های OAuth اشتباه نگیرید.
        انتظار می‌رود اپلیکیشن‌ها نسبت به این مجوزها کور باشند. اینها فقط برای استفاده‌های داخلی ایجاد شده‌اند، اما در صورت نیاز آزادانه درخواست فعال‌سازی برای اپلیکیشن خود را ارائه دهید.
      operationId: Assets_GetPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetPermissionsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مجوزهای کنار دیوار
      tags:
      - Assets
  /v1/open-platform/assets/ram-memory:
    get:
      description: دریافت تمام گزینه‌های حافظه رم موجود در دسته‌بندی‌های موبایل/تبلت/لپ‌تاپ
        دیوار. این ترجمه فارسی برای هر گزینه حافظه رم که در آگهی‌ها استفاده می‌شود،
        ارائه می‌دهد.
      operationId: Assets_GetRamMemories
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetRamMemoriesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت گزینه‌های حافظه رم موجود در دسته‌بندی‌های موبایل/تبلت/لپ‌تاپ
        دیوار
      tags:
      - Assets
  /v1/open-platform/assets/service-type:
    get:
      description: |-
        این انواع سرویس برای گروه‌بندی سرویس‌های مشابه در کنار دیوار استفاده می‌شود.
        هر ایده جدید با انواع سرویس جدید خوشامد است. در صورت نیاز آزادانه درخواست دهید.
      operationId: Assets_GetServiceTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsGetServiceTypesResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت انواع سرویس موجود در کنار دیوار
      tags:
      - Assets
  /v1/open-platform/chat/bot/conversations/{conversation_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage
      parameters:
      - description: Unique identifier for the conversation
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /v1/open-platform/chat/bot/users/{user_id}/messages:
    post:
      description: |-
        می‌توانید این API را با conversation_id یا user_id فراخوانی کنید.
        فراخوانی با user_id نیاز به access_token با دامنه CHAT_BOT_USER_MESSAGE_SEND دارد. این به شما امکان شروع مکالمه با کاربر از ChatBot را می‌دهد.
      operationId: ChatAPI_ChatBotSendMessage2
      parameters:
      - description: Unique identifier for the user to start or continue a conversation
          with
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ChatAPIChatBotSendMessageBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiChatBotSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه ChatBot
      tags:
      - ChatAPI
  /v1/open-platform/chat/conversations/{conversation_id}:
    get:
      description: این API برای دریافت مکالمه و پیام‌های یک مکالمه با شناسه آن استفاده
        می‌شود. این API توکن دسترسی با دامنه `CHAT_CONVERSATION_READ` را انتظار دارد.
      operationId: ChatAPI_GetConversation
      parameters:
      - description: Unique identifier for the conversation
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiGetConversationResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت مکالمه با شناسه آن
      tags:
      - ChatAPI
  /v1/open-platform/events/subscriptions:
    post:
      description: |-
        این درخواست به شما امکان اشتراک در رویداد را می‌دهد.
        باید access-token را در این API ارسال کنید تا دسترسی شما بررسی شود.
        برای اشتراک در `NEW_MESSAGE_ON_POST` به یکی از این دامنه‌ها نیاز دارید:
        - CHAT_POST_CONVERSATIONS_READ.{post_token}
        - CHAT_SUPPLIER_ALL_CONVERSATIONS_READ
        برای اشتراک در `POST_UPDATE` به دامنه `USER_POSTS_GET` نیاز دارید.
        پس از فراخوانی این API، هنگام وقوع رویداد مربوطه در webhook خود مطلع خواهید شد.
        مطمئن شوید URL webhook در پنل ارائه‌دهندگان برای اپلیکیشن شما تنظیم شده است.
        برخی رویدادها به طور پیش‌فرض فعال هستند و نیازی به اشتراک ندارند (مثل پیام‌های chatbot).
      operationId: Events_RegisterEventSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventsRegisterEventSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsRegisterEventSubscriptionResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: اشتراک در رویداد
      tags:
      - Events
  /v1/open-platform/finder/post/{token}:
    get:
      description: "This API allows you to get details about Divar post by its token.\n\
        You can use the token to get the post data and its state "
      operationId: Finder_GetPost
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderGetPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آگهی دیوار
      tags:
      - Finder
  /v1/open-platform/finder/user-posts:
    get:
      description: |-
        این API به شما امکان دریافت تمام آگهی‌های یک کاربر را می‌دهد.
        می‌توانید از این API برای نمایش آگهی‌های کاربر در سرویس خود استفاده کنید.
      operationId: Finder_GetUserPosts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderGetUserPostsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت آگهی‌های کاربر
      tags:
      - Finder
  /v1/open-platform/payment-ticket/validate:
    post:
      description: |-
        بلیط‌های پرداخت برای یکپارچه‌سازی اپلیکیشن‌های کنار با تیم‌های داخلی دیوار طراحی شده‌اند.
        با استفاده از این API می‌توانید بلیط پرداخت را اعتبارسنجی کرده و payload صادرکننده را دریافت کنید.
      operationId: PaymentTicket_Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_ticketValidateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_ticketValidateResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: اعتبارسنجی بلیط پرداخت
      tags:
      - PaymentTicket
  /v1/open-platform/post/image-upload-url:
    get:
      description: |-
        این API به شما امکان دریافت URL آپلود برای آپلود تصاویر آگهی را می‌دهد.
        می‌توانید تصاویر را با استفاده از درخواست POST با کدگذاری باینری به URL برگشتی آپلود کنید.
      operationId: Post_GetImageUploadURL
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postGetImageUploadURLResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت URL آپلود تصویر
      tags:
      - Post
  /v1/open-platform/post/{post_token}:
    put:
      description: |-
        این API به شما امکان ویرایش آگهی را می‌دهد. این نیاز به دامنه OAuth `POST_EDIT.{post_token}` دارد.
        در حال حاضر فقط می‌توانید عنوان، توضیحات و تصاویر آگهی را ویرایش کنید.
      operationId: Post_EditPost
      parameters:
      - explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEditPostBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postEditPostResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ویرایش آگهی
      tags:
      - Post
  /v1/open-platform/post/{post_token}/pricing:
    get:
      description: با استفاده از این API و با مجوز کاربر، می‌توانید قیمت سرویس‌های
        مختلف مانند نردبان را دریافت کنید. قیمت این API لزوماً با قیمت روی دیوار یکسان
        نیست و قیمت‌گذاری ممکن است متفاوت باشد. از این API برای دریافت قیمت قبل از
        اعمال سرویس‌ها (مانند نردبان آگهی) استفاده کنید.
      operationId: Payment_GetPostPricing
      parameters:
      - description: شناسه منحصر به فرد 8-9 کاراکتری برای آگهی
        explode: false
        in: path
        name: post_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentGetPostPricingResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت هزینه سرویس
      tags:
      - limited
  /v1/open-platform/semantic/user/{phone}:
    delete:
      description: می‌توانید اطلاعات معنایی یک کاربر را با فراخوانی این API حذف کنید.
      operationId: Semantic_DeleteUserSemantic
      parameters:
      - explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: divar_user_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticDeleteUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف اطلاعات معنایی کاربر
      tags:
      - Semantic
    post:
      description: |-
        در برخی موارد، ذخیره اطلاعات مربوط به کاربر در دیوار بدون افزودن افزونه ضروری است.
        نام کاربری در دیوار همان شماره موبایل است.
        این API توکن دسترسی با دامنه `USER_VERIFICATION_CREATE` را انتظار دارد.
        از APIهای اطلاعات معنایی کاربر برای این منظور استفاده کنید. این سرویس امکان ارسال اطلاعات معنایی و بلیط پرداخت اختیاری را فراهم می‌کند.
      operationId: Semantic_CreateUserSemantic
      parameters:
      - explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SemanticCreateUserSemanticBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticCreateUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد اطلاعات معنایی کاربر
      tags:
      - Semantic
  /v1/open-platform/semantic/users/{divar_user_id}:
    delete:
      description: می‌توانید اطلاعات معنایی یک کاربر را با فراخوانی این API حذف کنید.
      operationId: Semantic_DeleteUserSemantic2
      parameters:
      - explode: false
        in: path
        name: divar_user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: phone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticDeleteUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: حذف اطلاعات معنایی کاربر
      tags:
      - Semantic
    post:
      description: |-
        در برخی موارد، ذخیره اطلاعات مربوط به کاربر در دیوار بدون افزودن افزونه ضروری است.
        نام کاربری در دیوار همان شماره موبایل است.
        این API توکن دسترسی با دامنه `USER_VERIFICATION_CREATE` را انتظار دارد.
        از APIهای اطلاعات معنایی کاربر برای این منظور استفاده کنید. این سرویس امکان ارسال اطلاعات معنایی و بلیط پرداخت اختیاری را فراهم می‌کند.
      operationId: Semantic_CreateUserSemantic2
      parameters:
      - explode: false
        in: path
        name: divar_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SemanticCreateUserSemanticBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/semanticCreateUserSemanticResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ایجاد اطلاعات معنایی کاربر
      tags:
      - Semantic
  /v1/open-platform/users:
    get:
      description: |
        پس از دریافت توکن دسترسی، می‌توانید از این API برای دریافت اطلاعات کاربر استفاده کنید.
        با scope `USER_PHONE` می‌توانید شماره تلفن کاربر را دریافت کنید.
        با scope `USER_ID` می‌توانید شناسه کاربر را دریافت کرده و می‌توانید روی منحصر به فرد بودن این شناسه تکیه کنید.
      operationId: Finder_GetUser2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderUser'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت اطلاعات کاربر
      tags:
      - Finder
    post:
      description: |
        پس از دریافت توکن دسترسی، می‌توانید از این API برای دریافت اطلاعات کاربر استفاده کنید.
        با scope `USER_PHONE` می‌توانید شماره تلفن کاربر را دریافت کنید.
        با scope `USER_ID` می‌توانید شناسه کاربر را دریافت کرده و می‌توانید روی منحصر به فرد بودن این شناسه تکیه کنید.
      operationId: Finder_GetUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finderGetUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderUser'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت اطلاعات کاربر
      tags:
      - Finder
  /v2/open-platform/addons/post/{token}:
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه جدیدی به آگهی متصل کنید.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه خود استفاده کنید.
        این API به توکن دسترسی با یکی از دامنه‌های زیر نیاز دارد:
        - USER_POSTS_ADDON_CREATE
        - POST_ADDON_CREATE.{post_token}
      operationId: Addons_CreatePostAddonV2
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddonsCreatePostAddonV2Body'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreatePostAddonResponseV2'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به آگهی
      tags:
      - Addons
  /v2/open-platform/addons/user/{phone}:
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه کاربر ایجاد کنید.
        افزونه کاربر به تمام آگهی‌های آینده کاربر متصل می‌شود و همچنین 30 آگهی آخر گذشته را پر می‌کند.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه کاربر خود استفاده کنید.
        این API به توکن دسترسی با دامنه `USER_ADDON_CREATE` نیاز دارد
      operationId: Addons_CreateUserAddonV2
      parameters:
      - explode: false
        in: path
        name: phone
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AddonsCreateUserAddonV2Body'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreateUserAddonResponseV2'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به کاربر
      tags:
      - Addons
  /v2/open-platform/addons/users/{divar_user_id}:
    get:
      description: دریافت تمام افزونه‌های کاربر یک کاربر.
      operationId: Addons_GetUserAddons2
      parameters:
      - explode: false
        in: path
        name: divar_user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: phone
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsGetUserAddonsResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: دریافت تمام افزونه‌های کاربر
      tags:
      - Addons
    post:
      description: |-
        با استفاده از این API و با مجوز کاربر، می‌توانید افزونه کاربر ایجاد کنید.
        افزونه کاربر به تمام آگهی‌های آینده کاربر متصل می‌شود و همچنین 30 آگهی آخر گذشته را پر می‌کند.
        می‌توانید از ویجت‌های موجود برای طراحی افزونه کاربر خود استفاده کنید.
        این API به توکن دسترسی با دامنه `USER_ADDON_CREATE` نیاز دارد
      operationId: Addons_CreateUserAddonV22
      parameters:
      - explode: false
        in: path
        name: divar_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AddonsCreateUserAddonV2Body'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addonsCreateUserAddonResponseV2'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: افزودن افزونه جدید به کاربر
      tags:
      - Addons
  /v2/open-platform/conversations/{conversation_id}/messages:
    post:
      description: |
        این API برای ارسال پیام به مکالمه استفاده می‌شود.
        برای فراخوانی این API به یکی از دامنه‌های زیر نیاز دارید:
        - CONVERSATION_SEND_MESSAGE.{conversation_id}
        - CHAT_SUPPLIER_ALL_CONVERSATIONS_MESSAGE_SEND
        - CHAT_POST_CONVERSATIONS_MESSAGE_SEND.{post_token}
      operationId: ChatAPI_ConversationSendMessage
      parameters:
      - description: Unique identifier for the conversation
        explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatAPIConversationSendMessageBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatapiConversationSendMessageResponse'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: ارسال پیام به مکالمه
      tags:
      - ChatAPI
  /v2/open-platform/finder/post:
    post:
      description: |
        این API به شما امکان جستجو آگهی‌های دیوار با برخی فیلترها را می‌دهد.
        می‌توانید آگهی‌ها را بر اساس دسته‌بندی، شهر، منطقه و برخی فیلترهای دیگر جستجو کنید.
        آگهی‌ها بر اساس زمان آنها مرتب می‌شوند.
      operationId: Finder_SearchPostV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finderSearchPostsV2Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finderSearchPostV2Response'
          description: پاسخ موفقیت‌آمیز.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: پاسخ خطای غیرمنتظره.
      summary: جستجو آگهی‌های دیوار با فیلترهایی
      tags:
      - Finder
components:
  requestBodies:
    AddonsCreateUserAddonV2Body:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddonsCreateUserAddonV2Body'
      required: true
    ChatAPIChatBotSendMessageBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ChatAPIChatBotSendMessageBody'
      required: true
    SemanticCreateUserSemanticBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SemanticCreateUserSemanticBody'
      required: true
  schemas:
    AddonSecondaryLinkagePosition:
      enum:
      - POST_SPEC_HEAD
      - POST_SPEC_TAIL
      - POST_PRICE_SPEC
      - POST_DESC_TAIL
      type: string
    AddonSemanticCarVerificationStage:
      enum:
      - CARVERIFICATIONSTAGE_NOT_STARTED
      - CARVERIFICATIONSTAGE_SHAHKAR
      - CAR_CARD_VERIFICATION
      - CAR_MODEL_VERIFICATION
      type: string
    AddonSemanticIdentityVerificationResult:
      enum:
      - FACE_AND_ID_MATCHED
      title: "- FACE_AND_ID_MATCHED: ID به معنای کارت ملی است، این مقدار منجر به ن\
        شان در تطبیق می‌شود"
      type: string
    AddonSemanticIdentityVerificationStage:
      enum:
      - IDENTITYVERIFICATIONSTAGE_NOT_STARTED
      - NATIONAL_INFO_VERIFICATION
      - IMAGE_VERIFICATION
      - VIDEO_VERIFICATION
      type: string
    AddonSemanticInspectionResult:
      enum:
      - INSPECTION_APPROVED
      type: string
    AddonSemanticNewFaceVerificationResult:
      enum:
      - NEW_FACE_VERIFICATION_FAILED
      type: string
    AddonSemanticOwnershipResult:
      enum:
      - OWNERSHIP_CONFIRMED
      - OWNERSHIP_DELEGATION_CONFIRMED
      type: string
    AddonSemanticPostVerificationResult:
      enum:
      - POST_INFORMATION_MATCHED
      type: string
    AddonsCreateBusinessAddonBody:
      example:
        widgets:
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
      properties:
        widgets:
          items:
            $ref: '#/components/schemas/addonsWidget'
          type: array
      type: object
    AddonsCreatePostAddonV2Body:
      example:
        semantic:
          key: semantic
        notes: notes
        widgets:
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
      properties:
        notes:
          type: string
        semantic:
          additionalProperties:
            type: string
          type: object
        widgets:
          items:
            $ref: '#/components/schemas/addonsWidget'
          type: array
      type: object
    AddonsCreateUserAddonV2Body:
      example:
        ticket_uuid: ticket_uuid
        semantic:
          key: semantic
        cost: 0
        phone: phone
        categories:
        - categories
        - categories
        widgets:
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
        - image_carousel_row:
            has_divider: true
            items:
            - description: description
              image_id: image_id
            - description: description
              image_id: image_id
          event_row:
            has_divider: true
            subtitle: subtitle
            label: label
            image_id: image_id
            title: title
            icon_name: null
          group_info_row:
            has_divider: true
            items:
            - title: title
              value: value
            - title: title
              value: value
          button_bar:
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
          score_row:
            has_divider: true
            percentage_score: 6
            descriptive_score: descriptive_score
            score_color: null
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            title: title
            icon_name: null
          subtitle_row:
            has_divider: true
            text: text
          title_row:
            has_divider: true
            text: text
          evaluation_row:
            middle:
              section_color: WARNING_SECONDARY
              text: text
            left:
              section_color: WARNING_SECONDARY
              text: text
            indicator_percentage: 0
            right:
              section_color: WARNING_SECONDARY
              text: text
            icon_name: KEYBOARD_ARROW_RIGHT
            indicator_text: indicator_text
          selector_row:
            has_divider: true
            action:
              open_post_page:
                post_token: AJIEWcw
              open_post_manage_page:
                post_token: AJIEWcw
              get_dynamic_action:
                data:
                  your-internal-id: something
              open_server_link:
                data:
                  your-internal-id: something
              open_direct_link: https://your-site.com/some-path
            image_id: image_id
            title: title
            icon_name: null
          semantic_paths:
            key: semantic_paths
          description_row:
            has_divider: true
            expandable: true
            text: text
      properties:
        categories:
          items:
            type: string
          type: array
        cost:
          format: int32
          type: integer
        phone:
          type: string
        semantic:
          additionalProperties:
            type: string
          type: object
        ticket_uuid:
          type: string
        widgets:
          items:
            $ref: '#/components/schemas/addonsWidget'
          type: array
      type: object
    ChatAPIChatBotSendMessageBody:
      example:
        buttons:
          rows:
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
        user_id: user_789012
        text_message: Thank you for your inquiry. How can I help you?
        media_token: media_token_12345
      properties:
        buttons:
          $ref: '#/components/schemas/chatapiChatButtonGrid'
        media_token:
          description: Token for attached media (if any)
          example: media_token_12345
          type: string
        text_message:
          description: Text message content to be sent by the bot
          example: Thank you for your inquiry. How can I help you?
          type: string
        user_id:
          description: Unique identifier for the user to start or continue a conversation
            with
          example: user_789012
          type: string
      required:
      - text_message
      type: object
    ChatAPIConversationSendMessageBody:
      example:
        sender_buttons:
          rows:
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
        receiver_buttons:
          rows:
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
          - buttons:
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
            - icon: KEYBOARD_ARROW_RIGHT
              action:
                open_post_page:
                  post_token: AJIEWcw
                open_post_manage_page:
                  post_token: AJIEWcw
                get_dynamic_action:
                  data:
                    your-internal-id: something
                open_server_link:
                  data:
                    your-internal-id: something
                open_direct_link: https://your-site.com/some-path
              caption: caption
              icon_name: icon_name
        message: "Hello, I'm interested in your product"
        media_token: media_token_12345
      properties:
        media_token:
          description: Token for attached media (if any)
          example: media_token_12345
          type: string
        message:
          description: Text message content to be sent
          example: "Hello, I'm interested in your product"
          type: string
        receiver_buttons:
          $ref: '#/components/schemas/chatapiChatButtonGrid'
        sender_buttons:
          $ref: '#/components/schemas/chatapiChatButtonGrid'
      required:
      - message
      type: object
    DivarIconsIconName:
      enum:
      - KEYBOARD_ARROW_RIGHT
      - KEYBOARD_ARROW_LEFT
      - ARROW_FORWARD
      - REFRESH
      - REMOVE
      - SEND
      - DELETE
      - PHOTO_LIBRARY
      - ADD
      - CLOSE
      - CHECKED
      - CHECK_BOX
      - CHECK_BOX_OUTLINE_BLANK
      - CHAT_DOUBLE
      - CONTENT_COPY
      - REPORT
      - CAT_VEHICLES
      - PERSON
      - CALL
      - CAT_ELECTRONIC_DEVICES
      - PLACE
      - HISTORY
      - CHECK_CIRCLE
      - ACCESS_TIME
      - INFO_OUTLINE
      - PAYMENT
      - SHOW_CHART
      - CONTACT_PHONE
      - TRENDING_UP
      - CAR_BODY
      - INSPECT
      - CAR_TIRES
      - CAR_ELECTRONICS
      - CAR_ENGINE
      - CAR_HYDRAULICS
      - CAR_OPTIONS
      - CAR_DOCUMENTS
      - CANCEL
      - WARNING
      - HELP
      - MONEY
      - KARNAMEH
      - EDIT
      - SUPPORT
      - CAR_INSPECTED
      - TERMS
      - LADDER_COLLECTION
      - HOUSE_INSPECTION
      - ADD_CIRCLE
      - GAVEL
      - LADDER_GROUP
      - VISIBILITY
      - TIMER
      - LOCK
      - BLOCK
      - EMAIL_OUTLINE
      - ASSIGNMENT_IND
      - TOC
      - EXIT_TO_APP
      - HELP_OUTLINE
      - TELEPHONE
      - EVENT_NOTE
      - COMMUNITY
      - REAL_ESTATE
      - VR
      - NUM_1
      - NUM_2
      - NUM_3
      - NUM_4
      - NUM_5
      - NUM_6
      - NUM_7
      - NUM_8
      - NUM_9
      - ELEVATOR
      - PARKING
      - CABINET
      - BALCONY
      - TEXTURE
      - WC
      - SNOWFLAKE
      - SUNNY
      - THERMOMETER
      - VERIFIED
      - SETTINGS
      - CREDIT_ACCOUNT
      - CAR_AUCTION
      - CONCIERGE_SALE
      - INFO
      - MARKETPLACE_GENERAL
      - MARKETPLACE_HOME
      - MARKETPLACE_PERSONAL
      - MARKETPLACE_ELECTRONIC_DEVICES
      - INDICATOR_F
      - SHARE
      - CAR_INSPECTION
      - VERIFIED_USER
      - MARKETPLACE_LIST
      - BINDER
      - STAR
      - CAR_AMENITY
      - CAR_SAFETY
      - CAR_EQUIPMENT
      - BUSINESS_REAL_ESTATE_AGENCY
      - BUSINESS_MARKETPLACE
      - BUSINESS_AUTO_DEALERSHIP
      - LOCAL_SHIPPING
      - MOPED
      - TEXT_SMS_OUTLINE
      - PLACE_F
      - MOBILE_FRIENDLY
      - STAR_BORDER
      - IMAGE_OUTLINE
      - ARTICLE_OUTLINE
      - POST_FEEDBACK
      - DOWNLOAD
      - FILTER
      - SUPPORT_AGENT
      - MORE_VERT
      - BOOKMARK
      - BOOKMARK_BORDER
      - GIFT
      - ANALYTICS
      - STORE
      - STORE_OUTLINE
      - CAT_BUSINESSES
      - CAT_FOR_THE_HOME
      - CAT_SERVICES
      - CAT_PERSONAL
      - CAT_LEISURE_HOBBIES
      - CAT_JOBS
      - SCHOOL
      - NOTE
      - LOGOUT
      - PERSON_ADD
      - ADVERT
      - ADVERT_OUTLINE
      - ACCESS_TIME_OUTLINE
      - NOTE_OUTLINE
      - PAYMENT_OUTLINE
      - INSTAGRAM
      - TAG_CHECK_CIRCLE
      - FULLSCREEN
      - ADD_CIRCLE_OUTLINE
      - NOTE_ADD_OUTLINE
      - BRAND_ALFA_ROMEO
      - BRAND_AMICO
      - BRAND_ARIO
      - BRAND_ARISAN
      - BRAND_AUDI
      - BRAND_BAIC
      - BRAND_BESTURN
      - BRAND_BISU
      - BRAND_BMW
      - BRAND_BORGWARD
      - BRAND_BRILLIANCE
      - BRAND_BUICK
      - BRAND_BYD
      - BRAND_CAPRA
      - BRAND_CHANGAN
      - BRAND_CHERY
      - BRAND_CHEVROLET
      - BRAND_CITROEN
      - BRAND_DAEWOO
      - BRAND_DATSUN
      - BRAND_DEER
      - BRAND_DELICA
      - BRAND_DENA
      - BRAND_DIGNITY
      - BRAND_DODGE
      - BRAND_DOMY
      - BRAND_DONGFENG
      - BRAND_DS
      - BRAND_FARDA
      - BRAND_FAW
      - BRAND_FIAT
      - BRAND_FIDELITY
      - BRAND_FORD
      - BRAND_FOTON
      - BRAND_GAC_GONOW
      - BRAND_GEELY
      - BRAND_GREATWALL
      - BRAND_HAFEI_LOBO
      - BRAND_HAIMA
      - BRAND_HANTENG
      - BRAND_HAVAL
      - BRAND_HILLMAN
      - BRAND_HONDA
      - BRAND_HUMMER
      - BRAND_HYOSOW
      - BRAND_HYUNDAI
      - BRAND_IRANKHODRO_VAN
      - BRAND_ISUZU
      - BRAND_IVECO
      - BRAND_JAC
      - BRAND_JAGUAR
      - BRAND_JEEP
      - BRAND_JMC
      - BRAND_JOYLONG
      - BRAND_KIA
      - BRAND_KMC
      - BRAND_LADA
      - BRAND_LAMBORGHINI
      - BRAND_LAND_ROVER
      - BRAND_LANDMARK
      - BRAND_LEXUS
      - BRAND_LIFAN
      - BRAND_LOTUS
      - BRAND_LUXGEN
      - BRAND_MASERATI
      - BRAND_MAXUS
      - BRAND_MAZDA
      - BRAND_MERCEDESBENZ
      - BRAND_MG
      - BRAND_MINI
      - BRAND_MITSUBISHI
      - BRAND_MVM
      - BRAND_NARVAN
      - BRAND_NISSAN
      - BRAND_OLDSMOBILE
      - BRAND_OPEL
      - BRAND_PAYKAN
      - BRAND_PAZHAN
      - BRAND_PEUGEOT
      - BRAND_PONTIAC
      - BRAND_PORSCHE
      - BRAND_PRIDE
      - BRAND_PROTON
      - BRAND_QUICK
      - BRAND_RAYEN
      - BRAND_RENAULT
      - BRAND_RICH
      - BRAND_RIGAN
      - BRAND_RUNNA
      - BRAND_SAINA
      - BRAND_SAIPA
      - BRAND_SAMAND
      - BRAND_SEAT
      - BRAND_SHAHIN
      - BRAND_SINAD
      - BRAND_SMART
      - BRAND_SSANGYONG
      - BRAND_SUBARU
      - BRAND_SUZUKI
      - BRAND_SWM
      - BRAND_TARA
      - BRAND_TIBA
      - BRAND_TOYOTA
      - BRAND_UAZ
      - BRAND_VOLKSWAGEN
      - BRAND_VOLVO
      - BRAND_ZAMYAD
      - BRAND_ZOTYE
      - BRAND_SOUEAST
      - ARCHWAY
      - METRO
      - POI
      - STREET_SIGN
      - TREES
      - EARNEST
      - RESTAURANT
      - BACKPACK
      - STETHOSCOPE
      - MOSQUE
      - HOSPITAL
      - CAPSULE
      - BANK
      - CART
      - SHOPPING
      - BRAND_CHRYSLER
      - BRAND_DAIHATSU
      - BRAND_FOWNIX
      - BRAND_ROLLSROYCE
      - TUNE
      - EXCHANGE
      - BABY
      - BAGUETTE
      - BUS
      - COFFEE
      - FRUIT
      - GAS_STATION
      - GYM
      - HAMBURGER
      - HIGHWAY
      - MEDIC
      - SCHOOL_OUTLINE
      - TAXI
      - CAMERA
      - CAMERA_O
      - EYE_OFF
      - BRAND_DAYUN
      - BRAND_MAXMOTOR
      - VIDEOCAM
      - BRAND_ACER
      - BRAND_ALCATEL
      - BRAND_AMAZON
      - BRAND_APPLE
      - BRAND_ARCHOS
      - BRAND_ASUS
      - BRAND_BLACKBERRY
      - BRAND_BLU
      - BRAND_CATERPILLAR
      - BRAND_ENERGIZER
      - BRAND_GIGABYTE
      - BRAND_GIONEE
      - BRAND_GLX
      - BRAND_GOOGLE
      - BRAND_GPLUS
      - BRAND_HONOR
      - BRAND_HTC
      - BRAND_HUAWEI
      - BRAND_LENOVO
      - BRAND_LG
      - BRAND_MEIZU
      - BRAND_MICROMAX
      - BRAND_MICROSOFT
      - BRAND_MOTOROLA
      - BRAND_NOKIA
      - BRAND_ONEPLUS
      - BRAND_OPPO
      - BRAND_PANASONIC
      - BRAND_PHILIPS
      - BRAND_PIXEL
      - BRAND_PRESTIGIO
      - BRAND_RAZER
      - BRAND_REALME
      - BRAND_SAMSUNG
      - BRAND_SHARP
      - BRAND_SONY_ERICSSON
      - BRAND_SONY
      - BRAND_VERTU
      - BRAND_VIVO
      - BRAND_XIAOMI
      - BRAND_YOTA
      - BRAND_ZTE
      - BRAND_INROADS
      - VIDEOCAM_O
      - SHIELD_PHONE
      - SHIELD_PHONE_O
      - BRAND_LAMARI
      - VERIFIED_GREEN
      - CHART
      - CHART_O
      - LAUNCH
      - WALLET
      - TRASH_O
      - TRASH_F
      - BRAND_RESPECT
      - BRAND_TIGARD
      - FILE
      - FILE_O
      - IMAGE_OUTLINE_O
      - CONTACT_PHONE_O
      - PUZZLE
      - PUZZLE_OUTLINE
      - CALL_OUTGOING
      - CALL_INCOMING
      - CALL_MISSED
      - CALL_BLOCKED
      - ARCHIVE
      - ARCHIVE_O
      - CHAT_BUBBLE
      - CHAT_BUBBLE_F
      - MOBILE_1
      - MOBILE_2
      - MOBILE_3
      - MOBILE_4
      - MOBILE_5
      - MOBILE_6
      - MOBILE_7
      - CARPET_1
      - CARPET_2
      - CARPET_3
      - CARPET_4
      - CARPET_5
      - CARPET_6
      - SOFA_1
      - SOFA_2
      - SOFA_3
      - SOFA_4
      - SOFA_5
      - SOFA_6
      - LIGHTS_2
      - LIGHTS_1
      - LIGHTS_3
      - LIGHTS_4
      - LIGHTS_5
      - BATTERY_CHARGING
      - BATTERY_HORIZ_075
      - BATTERY_PROFILE
      - BUILD_CIRCLE
      - HEADPHONES
      - INVENTORY
      - SMARTPHONE
      - HOME_INSPECTION
      - MOBILE_INSPECTION
      - CAR_COLOR_BLUE
      - CAR_COLOR_CHERRY
      - CAR_COLOR_PERSIANBLUE
      - CAR_COLOR_EGGPLANT
      - CAR_COLOR_BRONZE
      - CAR_COLOR_BEIGE
      - CAR_COLOR_PURPLE
      - CAR_COLOR_ONIONSKIN
      - CAR_COLOR_TITANIUM
      - CAR_COLOR_GRAY
      - CAR_COLOR_KHAKI
      - CAR_COLOR_SLATEGRAY
      - CAR_COLOR_CHARCOAL
      - CAR_COLOR_YELLOW
      - CAR_COLOR_CRIMSON
      - CAR_COLOR_OLIVE
      - CAR_COLOR_GREEN
      - CAR_COLOR_LIGHTSLATEGRAY
      - CAR_COLOR_NAVYBLUE
      - CAR_COLOR_WHITE
      - CAR_COLOR_OYSTERWHITE
      - CAR_COLOR_GOLDEN
      - CAR_COLOR_LIGHTGRAY
      - CAR_COLOR_WARMGRAY
      - CAR_COLOR_JUJUBE
      - CAR_COLOR_RED
      - CAR_COLOR_BROWN
      - CAR_COLOR_CARBONBLACK
      - CAR_COLOR_DARKRED
      - CAR_COLOR_COPPER
      - CAR_COLOR_BLACK
      - CAR_COLOR_MOCHA
      - CAR_COLOR_ORANGE
      - CAR_COLOR_BLUESILVER
      - CAR_COLOR_SILVER
      - CAR_COLOR_DIMGRAY
      - CAR_COLOR_JADEGREEN
      - DIVAR_LOGO
      - CAR_COLOR_CREAM
      - CAR_FRONT_SIDE
      - CAR_BACK_SIDE
      - CAR_DRIVER_SIDE
      - CAR_PASSENGER_SIDE
      - CAR_ODOMETER
      - CRAFTSMEN
      - KITCHEN_UTENSILS
      - STOVES_HEATERS_FIREPLACES
      - TRAVEL_PACKAGES
      - WATER_HEATER_PACKAGE_RADIATOR
      - STAIRS
      - ACCESSIBILITY
      - MAP_VIEW
      - THUMB_DOWN
      - THUMB_UP
      - VIDEOCAM_PLUS
      - BADGE
      - BADGE_F
      - RADIO_BUTTON_UNCHECKED
      - POLICE
      - SORT_ASCENDING
      - BUSINESS_PERSONAL
      - BRAND_XTRIM
      - BRAND_BESTUNE
      - BRAND_GAC
      - BRAND_VENUCIA
      - BRAND_VGV
      - BRAND_ZX_AUTO
      - BRAND_QINGLING
      - BUSINESS_JOBS
      - SHIELD_CHECK_CIRCLE
      - SCRIPT_TEXT
      - DOT_INDICATOR
      - CLOCK
      - MAP_MARKER
      - TOMAN_SIGN
      - CHECK_DECOGRAM
      - LADDER
      - RUNNING_MAN
      - CALENDAR_TEXT
      - HOME
      - ADMINISTRATIVE_DOC
      - ANALOG_WATCH
      - ANKLE_BOOTS
      - BARTER
      - BOOTS
      - BRIEFCASE
      - CAPACITY
      - CARPET_DIMENSIONS
      - CHAIRS
      - CHANDELIER
      - COLOR_BEAKER
      - CONDITION
      - CONTROLLER
      - COSMETICS
      - CPU
      - DIGITAL_WATCH
      - DOOR
      - DRESS_SHOES
      - ELECTRICAL
      - FAKE_BADGE
      - FANNY_PACK
      - FURNITURE
      - FURNITURE_CLASSIC
      - FURNITURE_SOFA
      - HANDBAG
      - HDMI
      - HERBAL_PILLS
      - HOME_AREA
      - INSTALLMENT_SALE
      - IRANCELL
      - IRAN_MAP
      - JEWELRY_ANKLET
      - JEWELRY_BRACELET
      - JEWELRY_EARRINGS
      - JEWELRY_NECKLACE
      - JEWELRY_RING
      - JEWELRY_SET
      - LAN
      - LOAFERS
      - MAN
      - MAN_AND_WOMAN
      - MATERIAL
      - MCI
      - MEDICAL
      - MEMORY
      - MODEM
      - MONEY_BILLS
      - NINTENDO
      - ORIGINAL_BADGE
      - PAPER_DEED
      - PARKING_LOT
      - PERFUMES
      - PLAY_STATION
      - RAM
      - RECEIVING_HAND
      - RIGHTEL
      - SANDALS
      - SCISSORS
      - SCREEN_SIZE
      - SHAKING_HANDS
      - SHOULDER_BAG
      - SIDE_TABLE
      - SIM
      - SIM_HOLDER
      - SKIN_CARE
      - SLIPPERS
      - SMART_WATCH
      - SNEAKERS
      - SPEEDOMETER
      - SPORT_BAG
      - STAIRCASE
      - STORAGE
      - UMBRELLA
      - USB
      - WOMAN
      - WORLD_MAP
      - XBOX
      - SHIELD_CHECK
      - CAR
      - BUILDING
      - STOP_WATCH
      - CHATBOT
      - CHATBOT_OUTLINE
      - APARTMENT_RENT
      - APARTMENT_SELL
      - COMMERCIAL_RENT
      - COMMERCIAL_SELL
      - HOUSE_VILLA_RENT
      - HOUSE_VILLA_SELL
      - INDUSTRY_AGRICULTURE_BUSINESS_RENT
      - INDUSTRY_AGRICULTURE_BUSINESS_SELL
      - OFFICE_RENT
      - OFFICE_SELL
      - PARTNERSHIP
      - PLOT_OLD
      - PRESELL
      - REAL_ESTATE_SERVICES
      - RESIDENTIAL_RENT
      - RESIDENTIAL_SELL
      - SHOP_RENT
      - SHOP_SELL
      - SUITE_APARTMENT
      - TEMPORARY_RENT
      - VILLA
      - WORKSPACE
      - IMAGE_MULTIPLE
      - SHATEL_MOBILE
      - MEGAPHONE_F
      - MEGAPHONE
      - YEKTANET
      - TAPSELL
      - DAART
      - CLOSE_CIRCLE
      - CLOSE_CIRCLE_F
      - ACCESSORIES
      - ACCOUNTING_AND_FINANCE
      - ACCOUNTING_FINANCE_LEGAL
      - ADMINISTRATION_AND_HR
      - AIR_CONDITIONING_FAN_COIL
      - ANIMALS
      - APPLIANCE
      - ARTIFICIAL_FLOWER
      - AUDIO_VIDEO
      - BABY_AND_TOYS
      - BALL_SPORTS
      - BARBERSHOP_AND_BEAUTYSALON
      - BATCH
      - BATHROOMS
      - BATHROOM_ACCESSORIES
      - BEAUTY_AND_HAIRCARE
      - BED_PILLOW_BLANKET
      - BED_SERVICE
      - BED_SHEET
      - BICYCLE
      - BIRDS
      - BOAT
      - BOOKCASE_SHELF
      - BOOK_STUDENT_LITERATURE
      - BUFFET_SHOWCASES
      - BUILDING_EQUIPMENT
      - BUS_METRO_TRAIN
      - CAFE_AND_RESTAURANT
      - CAMERA_CAMCODERS
      - CAMPING_OUTDOOR
      - CARE_HEALTH_BEAUTY
      - CARPET
      - CARPET_MOQUETTE
      - CARS
      - CAR_AND_MOTOR
      - CAT
      - CATERING
      - CCTV
      - CHAIR_BENCH
      - CHANDELIERS
      - CHILDRENS_CLOTHING_AND_SHOE
      - CHILDRENS_FURNITURE
      - CHILD_CAR_SEAT
      - CLASSIC
      - CLEANING
      - CLEANING_SUPPLIES
      - CLOTHES_RACK
      - CLOTHING
      - CLOTHING_AND_SHOES
      - COIN_STAMP
      - COMPUTERS
      - COMPUTER_AND_IT
      - COMPUTER_AND_MOBILE
      - CONCERT
      - CONFERENCE_MEETING
      - CONSTRUCTION_CRAFT
      - CONTAINERS
      - CONTAINER_ORGANIZERS
      - COOKING_UTENSILS
      - CRAFTS
      - CURTAINS_TABLE_COVER
      - DECORATION
      - DESK
      - DESKTOPS
      - DETERGENT_TISSUE
      - DINING_TABLE
      - DISHWASHER
      - DIVING_WATERSPORTS
      - DOG
      - DRINK_MAKER
      - DRUMS_PERCUSSION
      - EDUCATION
      - EDUCATIONAL
      - EVENT
      - EVENTS_SPORTS
      - FAN_VENTILATOR_HUMIDIFIER
      - FARM_ANIMALS
      - FIGURINES
      - FISH
      - FISHING
      - FOOD_AND_DRINK
      - FOOD_MILL
      - FOR_SALE
      - FURNITURE_WOOD
      - GAME_CONSOLES_AND_VIDEO_GAMES
      - GARDEN_AND_LANDSCAPING
      - GIFT_CERTIFICATE
      - GUITAR_BASS_AMPLIFIER
      - HEALTH_BEAUTY
      - HEAVY
      - HISTORICAL
      - HISTORICAL_OBJECTS
      - HOBBY_COLLECTIBLES
      - HOME_CATERING
      - HOME_LIGHTING
      - HORSES_EQUESTRIAN
      - INDUSTRIAL_MACHINERY
      - INDUSTRIAL_TECHNOLOGY
      - JANITORIAL_CLEANING
      - JEWELRY
      - JEWELRY_AND_WATCHES
      - JUICERS
      - LAMPS
      - LAMPSHADE
      - LAPTOPS
      - LEISURE_HOBBIES_TOYS
      - LIGHT
      - LITERARY
      - LOST_AND_FOUND
      - LOST_ANIMALS
      - LOST_THINGS
      - LUMBAR_PILLOW
      - MAGAZINES
      - MAT
      - MATTRESS
      - MEDIA_ADVERTISING
      - MEDICAL_EQUIPMENT
      - MIRROR
      - MOBILE_PHONES
      - MOBILE_TABLET
      - MOBILE_TABLET_ACCESSORIES
      - MODEM_AND_NETWORK_EQUIPMENT
      - MOQUETTE
      - MOTORCYCLES
      - MOVIES_AND_MUSIC
      - MP3_PLAYER
      - MUSICAL_INSTRUMENTS
      - NATURAL_PLANTS
      - OFFICES
      - OFFICE_DECORATION
      - OTHER_APPLIANCES
      - OVEN_BAKING_APPLIANCES
      - PAINTINGS_PICTURE
      - PARTS_ACCESSORIES
      - PARTS_AND_ACCESSORIES
      - PERSONAL_TOYS
      - PHONE_DESK
      - PIANO_KEYBOARD
      - PICTORIAL_CARPET
      - POT_KETTLE
      - PRINTER_SCANER_COPIER
      - RANGE_HOOD
      - REFRIGERATOR_FREEZER
      - RELIGIOUS
      - RENTAL
      - REPTILE
      - RESEARCH
      - RHINESTONES
      - RODENTS_RABBITS
      - RUBBER_CARPET
      - RUGS_WOOLEN_CLOTH
      - SALES_MARKETING
      - SEWING_ACCESSORIES
      - SEWING_KNITTING
      - SEWING_MACHINE
      - SHOES_BELT_BAG
      - SHOE_RACK_DRAWER
[...]
